* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("./media/background.jpg");
    background-size: cover;
    background-position: center;
}


.game-board-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
}

h1{
    text-align: center;
    font-size: 30px;
}

p {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

.photo-credit {
    text-align: center;
    font-size: 10px;
    margin-top: 200px;
}
.cell {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-size: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cell:hover {
    background-color: lightgray;
    cursor:crosshair;
}

#reset-button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 13px;
    display:flex;
    justify-content: center;
    align-items: center;
}

