* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.game-board-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-size: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

